Build started...
Build succeeded.
[13:03:45 FTL] Application terminated unexpectedly
Microsoft.Extensions.Hosting.HostAbortedException: The host was aborted.
   at Microsoft.Extensions.Hosting.HostFactoryResolver.HostingListener.ThrowHostAborted()
   at Microsoft.Extensions.Hosting.HostFactoryResolver.HostingListener.OnNext(KeyValuePair`2 value)
   at System.Diagnostics.DiagnosticListener.Write(String name, Object value)
   at System.Diagnostics.DiagnosticSource.Write[T](String name, T value)
   at Microsoft.Extensions.Hosting.HostBuilder.ResolveHost(IServiceProvider serviceProvider, DiagnosticListener diagnosticListener)
   at Microsoft.Extensions.Hosting.HostApplicationBuilder.Build()
   at Microsoft.AspNetCore.Builder.WebApplicationBuilder.Build()
   at dtc.API.Program.Main(String[] args) in D:\Project_Sample\driving-training-centers-project-v1\repo-backend\dtcproject\dtc.API\Program.cs:line 115
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
CREATE TABLE [Centers] (
    [Id] uniqueidentifier NOT NULL,
    [CenterName] nvarchar(255) NOT NULL,
    [Address] nvarchar(500) NOT NULL,
    [Phone] nvarchar(20) NOT NULL,
    [Email] nvarchar(255) NOT NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Centers] PRIMARY KEY ([Id])
);

CREATE TABLE [Documents] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [ResourceType] int NOT NULL,
    [FileUrl] nvarchar(max) NOT NULL,
    [FileName] nvarchar(max) NOT NULL,
    [Extension] nvarchar(max) NOT NULL,
    [Size] int NOT NULL,
    [IsVerified] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Documents] PRIMARY KEY ([Id])
);

CREATE TABLE [Roles] (
    [Id] int NOT NULL IDENTITY,
    [RoleName] nvarchar(50) NOT NULL,
    CONSTRAINT [PK_Roles] PRIMARY KEY ([Id])
);

CREATE TABLE [Users] (
    [Id] uniqueidentifier NOT NULL,
    [Email] nvarchar(255) NOT NULL,
    [PasswordHash] nvarchar(500) NOT NULL,
    [FullName] nvarchar(255) NOT NULL,
    [Phone] nvarchar(20) NOT NULL,
    [AvatarUrl] nvarchar(500) NULL,
    [IsActive] bit NOT NULL,
    [LastLoginAt] datetime2 NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY ([Id])
);

CREATE TABLE [Courses] (
    [Id] uniqueidentifier NOT NULL,
    [CenterId] uniqueidentifier NOT NULL,
    [CourseName] nvarchar(255) NOT NULL,
    [LicenseType] nvarchar(50) NOT NULL,
    [DurationInWeeks] int NOT NULL,
    [MaxStudents] int NOT NULL,
    [ThumbnailUrl] nvarchar(500) NULL,
    [Description] nvarchar(max) NOT NULL,
    [Price] decimal(18,2) NOT NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Courses] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Courses_Centers_CenterId] FOREIGN KEY ([CenterId]) REFERENCES [Centers] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [CollaboratorCommissions] (
    [Id] uniqueidentifier NOT NULL,
    [CollaboratorId] uniqueidentifier NOT NULL,
    [Amount] decimal(18,2) NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [PaidAt] datetime2 NULL,
    CONSTRAINT [PK_CollaboratorCommissions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_CollaboratorCommissions_Users_CollaboratorId] FOREIGN KEY ([CollaboratorId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ReferralCodes] (
    [Id] uniqueidentifier NOT NULL,
    [Code] nvarchar(50) NOT NULL,
    [CollaboratorId] uniqueidentifier NOT NULL,
    [UsedCount] int NOT NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_ReferralCodes] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ReferralCodes_Users_CollaboratorId] FOREIGN KEY ([CollaboratorId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [UserCenters] (
    [UserId] uniqueidentifier NOT NULL,
    [CenterId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_UserCenters] PRIMARY KEY ([UserId], [CenterId]),
    CONSTRAINT [FK_UserCenters_Centers_CenterId] FOREIGN KEY ([CenterId]) REFERENCES [Centers] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_UserCenters_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [UserRoles] (
    [UserId] uniqueidentifier NOT NULL,
    [RoleId] int NOT NULL,
    CONSTRAINT [PK_UserRoles] PRIMARY KEY ([UserId], [RoleId]),
    CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY ([RoleId]) REFERENCES [Roles] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [CourseRegistrations] (
    [Id] uniqueidentifier NOT NULL,
    [CourseId] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [RegistrationDate] datetime2 NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [TotalFee] decimal(18,2) NOT NULL,
    [Notes] nvarchar(1000) NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_CourseRegistrations] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_CourseRegistrations_Courses_CourseId] FOREIGN KEY ([CourseId]) REFERENCES [Courses] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_CourseRegistrations_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ExamBatches] (
    [Id] uniqueidentifier NOT NULL,
    [CourseId] uniqueidentifier NOT NULL,
    [BatchName] nvarchar(255) NOT NULL,
    [RegistrationStartDate] datetime2 NOT NULL,
    [RegistrationEndDate] datetime2 NOT NULL,
    [ExamStartDate] datetime2 NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_ExamBatches] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ExamBatches_Courses_CourseId] FOREIGN KEY ([CourseId]) REFERENCES [Courses] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [Terms] (
    [Id] uniqueidentifier NOT NULL,
    [CourseId] uniqueidentifier NOT NULL,
    [TermName] nvarchar(255) NOT NULL,
    [StartDate] datetime2 NOT NULL,
    [EndDate] datetime2 NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Terms] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Terms_Courses_CourseId] FOREIGN KEY ([CourseId]) REFERENCES [Courses] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ReferralRegistrations] (
    [Id] uniqueidentifier NOT NULL,
    [ReferralCodeId] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    [RegisteredAt] datetime2 NOT NULL,
    CONSTRAINT [PK_ReferralRegistrations] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ReferralRegistrations_ReferralCodes_ReferralCodeId] FOREIGN KEY ([ReferralCodeId]) REFERENCES [ReferralCodes] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ReferralRegistrations_Users_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ExamRegistrations] (
    [Id] uniqueidentifier NOT NULL,
    [ExamBatchId] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    [RegistrationDate] datetime2 NOT NULL,
    [IsPaid] bit NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_ExamRegistrations] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ExamRegistrations_ExamBatches_ExamBatchId] FOREIGN KEY ([ExamBatchId]) REFERENCES [ExamBatches] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ExamRegistrations_Users_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [Exams] (
    [Id] uniqueidentifier NOT NULL,
    [ExamBatchId] uniqueidentifier NOT NULL,
    [ExamName] nvarchar(255) NOT NULL,
    [ExamDate] datetime2 NOT NULL,
    [ExamType] nvarchar(50) NOT NULL,
    [DurationMinutes] int NOT NULL,
    [TotalScore] int NOT NULL,
    [PassScore] int NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Exams] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Exams_ExamBatches_ExamBatchId] FOREIGN KEY ([ExamBatchId]) REFERENCES [ExamBatches] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [Classes] (
    [Id] uniqueidentifier NOT NULL,
    [TermId] uniqueidentifier NOT NULL,
    [ClassName] nvarchar(255) NOT NULL,
    [CurrentStudents] int NOT NULL,
    [MaxStudents] int NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Classes] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Classes_Terms_TermId] FOREIGN KEY ([TermId]) REFERENCES [Terms] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [ExamResults] (
    [Id] uniqueidentifier NOT NULL,
    [ExamId] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    [AttemptNo] int NOT NULL,
    [Score] float NOT NULL,
    [IsPassed] bit NOT NULL,
    CONSTRAINT [PK_ExamResults] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ExamResults_Exams_ExamId] FOREIGN KEY ([ExamId]) REFERENCES [Exams] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_ExamResults_Users_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ClassSchedules] (
    [Id] uniqueidentifier NOT NULL,
    [ClassId] uniqueidentifier NOT NULL,
    [InstructorId] uniqueidentifier NOT NULL,
    [StartTime] datetime2 NOT NULL,
    [EndTime] datetime2 NOT NULL,
    [Location] nvarchar(255) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_ClassSchedules] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ClassSchedules_Classes_ClassId] FOREIGN KEY ([ClassId]) REFERENCES [Classes] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_ClassSchedules_Users_InstructorId] FOREIGN KEY ([InstructorId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ClassStudents] (
    [StudentId] uniqueidentifier NOT NULL,
    [ClassId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_ClassStudents] PRIMARY KEY ([StudentId], [ClassId]),
    CONSTRAINT [FK_ClassStudents_Classes_ClassId] FOREIGN KEY ([ClassId]) REFERENCES [Classes] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_ClassStudents_Users_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [Attendance] (
    [Id] uniqueidentifier NOT NULL,
    [ClassScheduleId] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    [IsPresent] bit NOT NULL,
    [CheckedAt] datetime2 NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Attendance] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Attendance_ClassSchedules_ClassScheduleId] FOREIGN KEY ([ClassScheduleId]) REFERENCES [ClassSchedules] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Attendance_Users_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE UNIQUE INDEX [IX_Attendance_ClassScheduleId_StudentId] ON [Attendance] ([ClassScheduleId], [StudentId]);

CREATE INDEX [IX_Attendance_StudentId] ON [Attendance] ([StudentId]);

CREATE INDEX [IX_Classes_TermId] ON [Classes] ([TermId]);

CREATE INDEX [IX_ClassSchedules_ClassId] ON [ClassSchedules] ([ClassId]);

CREATE INDEX [IX_ClassSchedules_InstructorId] ON [ClassSchedules] ([InstructorId]);

CREATE INDEX [IX_ClassStudents_ClassId] ON [ClassStudents] ([ClassId]);

CREATE INDEX [IX_CollaboratorCommissions_CollaboratorId] ON [CollaboratorCommissions] ([CollaboratorId]);

CREATE INDEX [IX_CourseRegistrations_CourseId] ON [CourseRegistrations] ([CourseId]);

CREATE INDEX [IX_CourseRegistrations_UserId] ON [CourseRegistrations] ([UserId]);

CREATE INDEX [IX_Courses_CenterId] ON [Courses] ([CenterId]);

CREATE INDEX [IX_ExamBatches_CourseId] ON [ExamBatches] ([CourseId]);

CREATE INDEX [IX_ExamRegistrations_ExamBatchId] ON [ExamRegistrations] ([ExamBatchId]);

CREATE INDEX [IX_ExamRegistrations_StudentId] ON [ExamRegistrations] ([StudentId]);

CREATE INDEX [IX_ExamResults_ExamId] ON [ExamResults] ([ExamId]);

CREATE INDEX [IX_ExamResults_StudentId] ON [ExamResults] ([StudentId]);

CREATE INDEX [IX_Exams_ExamBatchId] ON [Exams] ([ExamBatchId]);

CREATE UNIQUE INDEX [IX_ReferralCodes_Code] ON [ReferralCodes] ([Code]);

CREATE INDEX [IX_ReferralCodes_CollaboratorId] ON [ReferralCodes] ([CollaboratorId]);

CREATE INDEX [IX_ReferralRegistrations_ReferralCodeId] ON [ReferralRegistrations] ([ReferralCodeId]);

CREATE INDEX [IX_ReferralRegistrations_StudentId] ON [ReferralRegistrations] ([StudentId]);

CREATE INDEX [IX_Terms_CourseId] ON [Terms] ([CourseId]);

CREATE INDEX [IX_UserCenters_CenterId] ON [UserCenters] ([CenterId]);

CREATE INDEX [IX_UserRoles_RoleId] ON [UserRoles] ([RoleId]);

CREATE UNIQUE INDEX [IX_Users_Email] ON [Users] ([Email]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260227155551_InitialCreate', N'9.0.9');

CREATE TABLE [Centers] (
    [Id] uniqueidentifier NOT NULL,
    [CenterName] nvarchar(255) NOT NULL,
    [Address] nvarchar(500) NOT NULL,
    [Phone] nvarchar(20) NOT NULL,
    [Email] nvarchar(255) NOT NULL,
    [IsActive] bit NOT NULL,
    [NumberOfClasses] int NOT NULL,
    [MaxStudentPerClass] int NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Centers] PRIMARY KEY ([Id])
);

CREATE TABLE [Documents] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [ResourceType] int NOT NULL,
    [FileUrl] nvarchar(max) NOT NULL,
    [FileName] nvarchar(max) NOT NULL,
    [Extension] nvarchar(max) NOT NULL,
    [Size] int NOT NULL,
    [IsVerified] bit NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Documents] PRIMARY KEY ([Id])
);

CREATE TABLE [ExamBatches] (
    [Id] uniqueidentifier NOT NULL,
    [BatchName] nvarchar(255) NOT NULL,
    [RegistrationStartDate] datetime2 NOT NULL,
    [RegistrationEndDate] datetime2 NOT NULL,
    [ExamStartDate] datetime2 NOT NULL,
    [CurrentCandidates] int NOT NULL,
    [MaxCandidates] int NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_ExamBatches] PRIMARY KEY ([Id])
);

CREATE TABLE [Roles] (
    [Id] int NOT NULL IDENTITY,
    [RoleName] nvarchar(50) NOT NULL,
    CONSTRAINT [PK_Roles] PRIMARY KEY ([Id])
);

CREATE TABLE [SampleExamResults] (
    [Id] uniqueidentifier NOT NULL,
    [SampleExamId] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    [TotalScore] float NOT NULL,
    [DurationSeconds] int NOT NULL,
    [IsPassed] bit NOT NULL,
    [UserAnswersJson] nvarchar(max) NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_SampleExamResults] PRIMARY KEY ([Id])
);

CREATE TABLE [StudentEvaluations] (
    [Id] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    [InstructorId] uniqueidentifier NOT NULL,
    [ClassId] uniqueidentifier NULL,
    [PunctualityScore] int NOT NULL,
    [SkillLevel] int NOT NULL,
    [Note] nvarchar(max) NOT NULL,
    [EvaluationDate] datetime2 NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_StudentEvaluations] PRIMARY KEY ([Id])
);

CREATE TABLE [Users] (
    [Id] uniqueidentifier NOT NULL,
    [Email] nvarchar(255) NOT NULL,
    [PasswordHash] nvarchar(500) NOT NULL,
    [FullName] nvarchar(255) NOT NULL,
    [Phone] nvarchar(20) NOT NULL,
    [AvatarUrl] nvarchar(500) NULL,
    [IsActive] bit NOT NULL,
    [LastLoginAt] datetime2 NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY ([Id])
);

CREATE TABLE [Courses] (
    [Id] uniqueidentifier NOT NULL,
    [CenterId] uniqueidentifier NOT NULL,
    [CourseName] nvarchar(255) NOT NULL,
    [LicenseType] nvarchar(50) NOT NULL,
    [DurationInWeeks] int NOT NULL,
    [MaxStudents] int NOT NULL,
    [ThumbnailUrl] nvarchar(500) NULL,
    [Description] nvarchar(max) NOT NULL,
    [Price] decimal(18,2) NOT NULL,
    [IsActive] bit NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Courses] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Courses_Centers_CenterId] FOREIGN KEY ([CenterId]) REFERENCES [Centers] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [CollaboratorCommissions] (
    [Id] uniqueidentifier NOT NULL,
    [CollaboratorId] uniqueidentifier NOT NULL,
    [Amount] decimal(18,2) NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [PaidAt] datetime2 NULL,
    CONSTRAINT [PK_CollaboratorCommissions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_CollaboratorCommissions_Users_CollaboratorId] FOREIGN KEY ([CollaboratorId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ExamRegistrations] (
    [Id] uniqueidentifier NOT NULL,
    [ExamBatchId] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    [RegistrationDate] datetime2 NOT NULL,
    [IsPaid] bit NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_ExamRegistrations] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ExamRegistrations_ExamBatches_ExamBatchId] FOREIGN KEY ([ExamBatchId]) REFERENCES [ExamBatches] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ExamRegistrations_Users_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [InstructorLeaveRequests] (
    [Id] uniqueidentifier NOT NULL,
    [InstructorId] uniqueidentifier NOT NULL,
    [LeaveDate] datetime2 NOT NULL,
    [Reason] nvarchar(1000) NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_InstructorLeaveRequests] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_InstructorLeaveRequests_Users_InstructorId] FOREIGN KEY ([InstructorId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ReferralCodes] (
    [Id] uniqueidentifier NOT NULL,
    [Code] nvarchar(50) NOT NULL,
    [CollaboratorId] uniqueidentifier NOT NULL,
    [UsedCount] int NOT NULL,
    [IsActive] bit NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_ReferralCodes] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ReferralCodes_Users_CollaboratorId] FOREIGN KEY ([CollaboratorId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [StudentDrivingDistances] (
    [Id] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    [MorningDistanceKm] float NOT NULL,
    [EveningDistanceKm] float NOT NULL,
    [MaxMorningDistanceKm] float NOT NULL,
    [MaxEveningDistanceKm] float NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_StudentDrivingDistances] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_StudentDrivingDistances_Users_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [UserCenters] (
    [UserId] uniqueidentifier NOT NULL,
    [CenterId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_UserCenters] PRIMARY KEY ([UserId], [CenterId]),
    CONSTRAINT [FK_UserCenters_Centers_CenterId] FOREIGN KEY ([CenterId]) REFERENCES [Centers] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_UserCenters_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [UserRoles] (
    [UserId] uniqueidentifier NOT NULL,
    [RoleId] int NOT NULL,
    CONSTRAINT [PK_UserRoles] PRIMARY KEY ([UserId], [RoleId]),
    CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY ([RoleId]) REFERENCES [Roles] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [CourseRegistrations] (
    [Id] uniqueidentifier NOT NULL,
    [CourseId] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [RegistrationDate] datetime2 NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [TotalFee] decimal(18,2) NOT NULL,
    [Notes] nvarchar(1000) NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_CourseRegistrations] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_CourseRegistrations_Courses_CourseId] FOREIGN KEY ([CourseId]) REFERENCES [Courses] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_CourseRegistrations_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [Exams] (
    [Id] uniqueidentifier NOT NULL,
    [ExamBatchId] uniqueidentifier NOT NULL,
    [CourseId] uniqueidentifier NOT NULL,
    [ExamName] nvarchar(255) NOT NULL,
    [ExamDate] datetime2 NOT NULL,
    [ExamType] nvarchar(50) NOT NULL,
    [DurationMinutes] int NOT NULL,
    [TotalScore] int NOT NULL,
    [PassScore] int NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Exams] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Exams_Courses_CourseId] FOREIGN KEY ([CourseId]) REFERENCES [Courses] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Exams_ExamBatches_ExamBatchId] FOREIGN KEY ([ExamBatchId]) REFERENCES [ExamBatches] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [Terms] (
    [Id] uniqueidentifier NOT NULL,
    [CourseId] uniqueidentifier NOT NULL,
    [TermName] nvarchar(255) NOT NULL,
    [StartDate] datetime2 NOT NULL,
    [EndDate] datetime2 NOT NULL,
    [CurrentStudents] int NOT NULL,
    [MaxStudents] int NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Terms] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Terms_Courses_CourseId] FOREIGN KEY ([CourseId]) REFERENCES [Courses] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ReferralRegistrations] (
    [Id] uniqueidentifier NOT NULL,
    [ReferralCodeId] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    [RegisteredAt] datetime2 NOT NULL,
    CONSTRAINT [PK_ReferralRegistrations] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ReferralRegistrations_ReferralCodes_ReferralCodeId] FOREIGN KEY ([ReferralCodeId]) REFERENCES [ReferralCodes] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ReferralRegistrations_Users_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ExamResults] (
    [Id] uniqueidentifier NOT NULL,
    [ExamId] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    [AttemptNo] int NOT NULL,
    [Score] float NOT NULL,
    [IsPassed] bit NOT NULL,
    CONSTRAINT [PK_ExamResults] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ExamResults_Exams_ExamId] FOREIGN KEY ([ExamId]) REFERENCES [Exams] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_ExamResults_Users_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [Classes] (
    [Id] uniqueidentifier NOT NULL,
    [TermId] uniqueidentifier NOT NULL,
    [InstructorId] uniqueidentifier NOT NULL,
    [ClassName] nvarchar(255) NOT NULL,
    [CurrentStudents] int NOT NULL,
    [MaxStudents] int NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Classes] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Classes_Terms_TermId] FOREIGN KEY ([TermId]) REFERENCES [Terms] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Classes_Users_InstructorId] FOREIGN KEY ([InstructorId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ClassSchedules] (
    [Id] uniqueidentifier NOT NULL,
    [ClassId] uniqueidentifier NOT NULL,
    [InstructorId] uniqueidentifier NOT NULL,
    [StartTime] datetime2 NOT NULL,
    [EndTime] datetime2 NOT NULL,
    [Location] nvarchar(255) NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_ClassSchedules] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ClassSchedules_Classes_ClassId] FOREIGN KEY ([ClassId]) REFERENCES [Classes] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_ClassSchedules_Users_InstructorId] FOREIGN KEY ([InstructorId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ClassStudents] (
    [StudentId] uniqueidentifier NOT NULL,
    [ClassId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_ClassStudents] PRIMARY KEY ([StudentId], [ClassId]),
    CONSTRAINT [FK_ClassStudents_Classes_ClassId] FOREIGN KEY ([ClassId]) REFERENCES [Classes] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_ClassStudents_Users_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [Attendance] (
    [Id] uniqueidentifier NOT NULL,
    [ClassScheduleId] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    [IsPresent] bit NOT NULL,
    [CheckedAt] datetime2 NOT NULL,
    [RowVersion] rowversion NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [UpdatedAt] datetime2 NULL,
    [UpdatedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Attendance] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Attendance_ClassSchedules_ClassScheduleId] FOREIGN KEY ([ClassScheduleId]) REFERENCES [ClassSchedules] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Attendance_Users_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE UNIQUE INDEX [IX_Attendance_ClassScheduleId_StudentId] ON [Attendance] ([ClassScheduleId], [StudentId]);

CREATE INDEX [IX_Attendance_StudentId] ON [Attendance] ([StudentId]);

CREATE UNIQUE INDEX [IX_Classes_InstructorId] ON [Classes] ([InstructorId]);

CREATE INDEX [IX_Classes_TermId] ON [Classes] ([TermId]);

CREATE INDEX [IX_ClassSchedules_ClassId] ON [ClassSchedules] ([ClassId]);

CREATE INDEX [IX_ClassSchedules_InstructorId] ON [ClassSchedules] ([InstructorId]);

CREATE INDEX [IX_ClassStudents_ClassId] ON [ClassStudents] ([ClassId]);

CREATE INDEX [IX_CollaboratorCommissions_CollaboratorId] ON [CollaboratorCommissions] ([CollaboratorId]);

CREATE INDEX [IX_CourseRegistrations_CourseId] ON [CourseRegistrations] ([CourseId]);

CREATE INDEX [IX_CourseRegistrations_UserId] ON [CourseRegistrations] ([UserId]);

CREATE INDEX [IX_Courses_CenterId] ON [Courses] ([CenterId]);

CREATE INDEX [IX_ExamRegistrations_ExamBatchId] ON [ExamRegistrations] ([ExamBatchId]);

CREATE INDEX [IX_ExamRegistrations_StudentId] ON [ExamRegistrations] ([StudentId]);

CREATE INDEX [IX_ExamResults_ExamId] ON [ExamResults] ([ExamId]);

CREATE INDEX [IX_ExamResults_StudentId] ON [ExamResults] ([StudentId]);

CREATE INDEX [IX_Exams_CourseId] ON [Exams] ([CourseId]);

CREATE INDEX [IX_Exams_ExamBatchId] ON [Exams] ([ExamBatchId]);

CREATE INDEX [IX_InstructorLeaveRequests_InstructorId] ON [InstructorLeaveRequests] ([InstructorId]);

CREATE UNIQUE INDEX [IX_ReferralCodes_Code] ON [ReferralCodes] ([Code]);

CREATE INDEX [IX_ReferralCodes_CollaboratorId] ON [ReferralCodes] ([CollaboratorId]);

CREATE INDEX [IX_ReferralRegistrations_ReferralCodeId] ON [ReferralRegistrations] ([ReferralCodeId]);

CREATE INDEX [IX_ReferralRegistrations_StudentId] ON [ReferralRegistrations] ([StudentId]);

CREATE INDEX [IX_StudentDrivingDistances_StudentId] ON [StudentDrivingDistances] ([StudentId]);

CREATE INDEX [IX_Terms_CourseId] ON [Terms] ([CourseId]);

CREATE INDEX [IX_UserCenters_CenterId] ON [UserCenters] ([CenterId]);

CREATE INDEX [IX_UserRoles_RoleId] ON [UserRoles] ([RoleId]);

CREATE UNIQUE INDEX [IX_Users_Email] ON [Users] ([Email]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260322105259_UpdateDomainModel', N'9.0.9');

DROP TABLE [ClassStudents];

DROP TABLE [UserCenters];

DROP TABLE [UserRoles];

ALTER TABLE [Users] ADD [CenterId] uniqueidentifier NULL;

CREATE INDEX [IX_Users_CenterId] ON [Users] ([CenterId]);

ALTER TABLE [Users] ADD CONSTRAINT [FK_Users_Centers_CenterId] FOREIGN KEY ([CenterId]) REFERENCES [Centers] ([Id]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260322114950_CompleteDomainRefactoring', N'9.0.9');

ALTER TABLE [Users] DROP CONSTRAINT [FK_Users_Centers_CenterId];

DROP INDEX [IX_Users_CenterId] ON [Users];

DROP INDEX [IX_Classes_InstructorId] ON [Classes];

DECLARE @var0 sysname;
SELECT @var0 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Users]') AND [c].[name] = N'CenterId');
IF @var0 IS NOT NULL EXEC(N'ALTER TABLE [Users] DROP CONSTRAINT [' + @var0 + '];');
ALTER TABLE [Users] DROP COLUMN [CenterId];

DECLARE @var1 sysname;
SELECT @var1 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Users]') AND [c].[name] = N'PasswordHash');
IF @var1 IS NOT NULL EXEC(N'ALTER TABLE [Users] DROP CONSTRAINT [' + @var1 + '];');
ALTER TABLE [Users] DROP COLUMN [PasswordHash];

DECLARE @var2 sysname;
SELECT @var2 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Documents]') AND [c].[name] = N'FileUrl');
IF @var2 IS NOT NULL EXEC(N'ALTER TABLE [Documents] DROP CONSTRAINT [' + @var2 + '];');
ALTER TABLE [Documents] DROP COLUMN [FileUrl];

ALTER TABLE [Users] ADD [ClerkId] nvarchar(255) NOT NULL DEFAULT N'';

ALTER TABLE [Users] ADD [RoleId] int NOT NULL DEFAULT 0;

DECLARE @var3 sysname;
SELECT @var3 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Documents]') AND [c].[name] = N'ResourceType');
IF @var3 IS NOT NULL EXEC(N'ALTER TABLE [Documents] DROP CONSTRAINT [' + @var3 + '];');
ALTER TABLE [Documents] ALTER COLUMN [ResourceType] nvarchar(20) NOT NULL;

DECLARE @var4 sysname;
SELECT @var4 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Documents]') AND [c].[name] = N'FileName');
IF @var4 IS NOT NULL EXEC(N'ALTER TABLE [Documents] DROP CONSTRAINT [' + @var4 + '];');
ALTER TABLE [Documents] ALTER COLUMN [FileName] nvarchar(255) NOT NULL;

DECLARE @var5 sysname;
SELECT @var5 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Documents]') AND [c].[name] = N'Extension');
IF @var5 IS NOT NULL EXEC(N'ALTER TABLE [Documents] DROP CONSTRAINT [' + @var5 + '];');
ALTER TABLE [Documents] ALTER COLUMN [Extension] nvarchar(10) NOT NULL;

ALTER TABLE [Documents] ADD [ProviderPublicId] nvarchar(255) NOT NULL DEFAULT N'';

ALTER TABLE [Documents] ADD [Version] nvarchar(50) NOT NULL DEFAULT N'';

CREATE TABLE [ClassStudents] (
    [ClassId] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_ClassStudents] PRIMARY KEY ([ClassId], [StudentId]),
    CONSTRAINT [FK_ClassStudents_Classes_ClassId] FOREIGN KEY ([ClassId]) REFERENCES [Classes] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_ClassStudents_Users_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [UserCenters] (
    [UserId] uniqueidentifier NOT NULL,
    [CenterId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_UserCenters] PRIMARY KEY ([UserId], [CenterId]),
    CONSTRAINT [FK_UserCenters_Centers_CenterId] FOREIGN KEY ([CenterId]) REFERENCES [Centers] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_UserCenters_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE UNIQUE INDEX [IX_Users_ClerkId] ON [Users] ([ClerkId]);

CREATE INDEX [IX_Documents_UserId] ON [Documents] ([UserId]);

CREATE INDEX [IX_Classes_InstructorId] ON [Classes] ([InstructorId]);

CREATE INDEX [IX_ClassStudents_StudentId] ON [ClassStudents] ([StudentId]);

CREATE INDEX [IX_UserCenters_CenterId] ON [UserCenters] ([CenterId]);

ALTER TABLE [Documents] ADD CONSTRAINT [FK_Documents_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION;


COMMIT;
GO


